:root {
    --neutral-50: #F9FAFB;
    --neutral-100: #F2F4F7;
    --neutral-200: #E4E7EC;
    --neutral-300: #CED2DA;
    --neutral-400: #97A1AF;
    --neutral-500: #637083;
    --neutral-600: #414E62;
    --neutral-700: #344051;
    --neutral-800: #202B37;
    --neutral-900: #141C24;
  
    --primary-50: #E9FBFB;
    --primary-100: #D4F7F7;
    --primary-200: #A8F0F0;
    --primary-300: #93ECEC;
    --primary-400: #7DE8E8;
    --primary-500: #52E0E0;
    --primary-600: #26D9D9;
    --primary-700: #1FADAD;
    --primary-800: #178282;
    --primary-900: #0F5757;
  
  
    --special-fill: var(--primary-600);
    --special-fill-hover: var(--primary-700);
    --special-fill-pressed: var(--primary-800);
    --special-outline: var(--neutral-600);
    --special-outline-hover: var(--neutral-700);
    --special-outline-pressed: var(--neutral-800);
  
    --primary-fill: var(--primary-600);
    --primary-fill-hover: var(--primary-700);
    --primary-fill-pressed: var(--primary-800);
    --primary-outline: var(--neutral-900);
    --primary-outline-hover: var(--neutral-900);
    --primary-outline-pressed: var(--neutral-900);
  
    --secondary-fill: var(--neutral-50);
    --secondary-fill-hover: var(--neutral-50);
    --secondary-fill-pressed: var(--neutral-50);
    --secondary-outline: var(--primary-800);
    --secondary-outline-hover: var(--primary-900);
    --secondary-outline-pressed: var(--neutral-900);
  
    --normal-text: var(--primary-800);
    --normal-text-inv: var(--neutral-50);
    --normal-text-hover: var(--primary-900);
    --normal-text-pressed: var(--neutral-900);
  }