:root {
  --special-fill: linear-gradient(45deg, #00ECA5, #2395FF);
  --special-fill-hover: linear-gradient(45deg, #06FFA5, #0085FF);
  --special-fill-pressed: linear-gradient(45deg, #3DC89E, #007CEF);

  --special-outline: rgba(0, 80, 75, 0.50);
  --special-outline-hover: rgba(0, 195, 185, 0.5);
  --special-outline-pressed: rgba(0, 23, 22, 0.50);

  --normal-text-inv: #FFFFFF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
